{% extends "base.html" %}

{% block title %}Поиск маршрута{% endblock %}
{% block content %}
    <h1>Поиск маршрута</h1>
    <div class="row">
        <div class="com-md-8 mx-auto">
            {% if routes %}
                <h3>Маршрут{% if routes|length != 1 %}ы{% endif %} из г. {{ cities.from_city }} в
                    г. {{ cities.to_city }} </h3>
                <br>
                {% for route in routes %}
                    <h5>Время в пути {{ route.total_time }}</h5>
                    {% if forloop.first %}<h6>Самый короткий маршрут</h6>{% endif %}
                    <table class="table">
                        <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Список поездов по этому маршруту</th>

                        </tr>
                        </thead>
                        <tbody>
                        {% for train in route.trains %}
                            <tr>
                                <th scope="row">{{ forloop.counter }}</th>
                                <td>{{ train }}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                    <br><br>
                {% endfor %}
            {% endif %}
        </div>
    </div>
    {% url "find_routes" as action %}
    {% include "form.html" with button="Найти" action=action %}



{% endblock %}